h1 {
  color: #DF5E5E;
}

.redfont {
  color: #DF5E5E;
}

body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.blue-container {
  align-self: center;
  position: absolute;
}

.logo {
  width: 20px;
  height: 20px;
}

.yellow-container-right {
  position: relative;
  right: 10px;
  display: table-cell;
}

.yellow-container-left {
  left: 10px;
  position: relative;
}


.signup {
  padding: 5px 30px;
  color: white;
  background-color: #DF5E5E;
  border-radius: 5px;
  border: 2px solid #DF5E5E;
}

.signin {
  padding: 5px 30px;
  border-radius: 5px;
  border: 2px solid #DF5E5E;
  color: #DF5E5E;
  background-color: white;
}

.input-boxes {
  padding: 20px 10px;
  border-radius: 5px;
  color: #EEEEEE;
  border-color: #EEEEEE;
}

input[type="text"]::placeholder {
padding-left: 5px;
padding-top: 20px;
padding-bottom: 20px;

}

input[type="email"]::placeholder {
padding: 5px 10px;
}


.checkbox {
  border-radius: 5px;
  display: block;
}

form {
  float: left;
  width: 300px;
}

label[for="name"], label[for="email"], label[for="password"] {
  float: left;
  width: 150px;
  margin-bottom: 10px;
}
