h1 {
  color: #DF5E5E;
}

.redfont {
  color: #DF5E5E;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.blue-container {
  margin: 0 auto;
width: fit-content;
}

.green-container-header {
  text-align: center;
}

.green-container-form {
  text-align: center;
}

.green-container-socialmedia {
  text-align: center;
}

.logo {
  width: 20px;
  height: 20px;
}


.yellow-container-right {
  display: table-cell;
    padding-left: 30px;
}

.yellow-container-left {
  vertical-align: top;
display: table-cell;
}


.signup {
  padding: 5px 30px;
  color: white;
  background-color: #DF5E5E;
  border-radius: 5px;
  border: 2px solid #DF5E5E;
}

.signin {
  padding: 5px 30px;
  border-radius: 5px;
  border: 2px solid #DF5E5E;
  color: #DF5E5E;
  background-color: white;
}

.input-boxes {
  padding: 20px 10px;
  border-radius: 5px;
  color: #EEEEEE;
  border-color: #EEEEEE;
}

input[type="text"]::placeholder {
  padding-left: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}


input[type="email"]::placeholder {
padding: 5px 10px;
}


.checkbox {
  border-radius: 5px;
  display: block;
  background-color: #DF5E5E;
}

input[type = "checkbox"]:checked {background-color: #DF5E5E;
}

form {
  float: left;
  width: 300px;
}

label[for="name"], label[for="email"], label[for="password"] {
  float: left;
  width: 150px;
  margin-bottom: 10px;
}

